<div class="row hidden-xs bottom20" id="filter-desk">
    <div class="col-sm-12">
      <div class="nav nav-pills" role="tablist">
        <nav-pill #deskPills *ngFor="let pill of pills, let i=index" [title]="pill" [index]="i" 
                  id="pill{{i}}" (pillClicked)="pillClick($event)" isLarge="true"></nav-pill>
      </div>
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <hr class="green">
    </div>
  </div>

  <div id="team-filter-mobile" class="visible-xs">
    <div class="row">
      <div class="col-xs-12 mobile-menu-filter">
        <h6>Filter by Focus Area</h6>
        <p class="focus-area-filter" role="button" tabindex="0" (click)="openOverlay()">{{pills[activeIndex]}}</p>
        <div class="focus-area-overlay" [class.open-overlay]="isOverlayOpen">
          <img class="close-overlay" src="/assets/images/x-dark.png" alt="close filter" (click)="closeOverlay()">
          <div class="row">
            <ul class="col-xs-11 col-xs-offset-1 overlay-sub-menu" role="menu">
              <li class="filter-header">
                <h6>Filter by Focus Area</h6>
              </li>
              <li *ngFor="let pill of pills, let i=index" class="tab">
                  <nav-pill #mobilePills [title]="pill" [index]="i" id="mobilePill{{i}}" (pillClicked)="pillClick($event)" isLarge="false"></nav-pill>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>