@media (max-width: 1024px) {
 .nav-pills {
     width: 90%;
     margin: 0 5%;
 }   
}
/*ul {
    background: red !important;
    &.nav-pills {
        &.nav {
            > .tab {
                &:hover {
                    font-family: Interstate_Bold, sans-serif;
                    text-decoration: none;
                    color: #000;

                    .gradient-bar {
                        position: absolute;
                        width: 110%;
                        height: 5px;
                        display: block;
                        top: 60px;
                        left: -5%;
                        background: -moz-linear-gradient(to right, #0556a5 0, #00a56e 100%);
                        background: -webkit-gradient(left, color-stop(0, #0556a5), color-stop(100%, #00a56e));
                        background: -webkit-linear-gradient(left, #0556a5 0, #00a56e 100%);
                        background: -o-linear-gradient(to right, #0556a5 0, #00a56e 100%);
                        background: -ms-linear-gradient(to right, #0556a5 0, #00a56e 100%);
                        background: linear-gradient(to right, #0556a5 0, #00a56e 100%);
                        transform: scale(.8);
                    }
                }

                .gradient-bar {
                    display: none;
                    margin-top: 10px;
                }
            }
        }

        .tab {
            cursor: pointer;

            &.active {
                &:hover {
                    -webkit-text-fill-color: #000;
                    color: #000;

                    .gradient-bar {
                        display: none;
                    }
                }
            }
        }
    }
}*/

/*
.nav.nav-pills>li.tab:hover,
.nav.nav-pills>li>a:hover {
    font-family: Interstate_Bold, sans-serif;
}

.nav.nav-pills>li>a:hover {
    text-decoration: none;
    color: #000;
}

ul.nav-pills .tab .gradient-bar,
ul.nav-pills a .gradient-bar {
    display: none;
    margin-top: 10px;
}


ul.nav-pills .tab:hover .gradient-bar,
ul.nav-pills a:hover .gradient-bar {
    position: absolute;
    width: 110%;
    height: 5px;
    display: block;
    top: 60px;
    left: -5%;
    background: -moz-linear-gradient(to right, #0556a5 0, #00a56e 100%);
    background: -webkit-gradient(left, color-stop(0, #0556a5), color-stop(100%, #00a56e));
    background: -webkit-linear-gradient(left, #0556a5 0, #00a56e 100%);
    background: -o-linear-gradient(to right, #0556a5 0, #00a56e 100%);
    background: -ms-linear-gradient(to right, #0556a5 0, #00a56e 100%);
    background: linear-gradient(to right, #0556a5 0, #00a56e 100%);
    transform: scale(.8)
}

ul.nav-pills .active a:hover .gradient-bar,
ul.nav-pills .active.tab:hover .gradient-bar {
    display: none
}

ul.nav-pills.nav>li.active a:hover,
ul.nav-pills.nav>li.active:hover {
    -webkit-text-fill-color: #000;
    color: #000
}
ul.nav-pills .tab {
    cursor: pointer;
}*/