<div class="row hidden-xs bottom20" id="team-filter-desk">
    <div class="col-sm-12">
      <div class="nav nav-pills" role="tablist">
        <nav-pill *ngFor="let pill of pills, let i=index" [title]="pill" [index]="i"></nav-pill>
      </div>
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <hr class="green">
    </div>
  </div>

  <div id="team-filter-mobile" class="visible-xs">
    <div class="row">
      <div class="col-xs-12 mobile-menu-filter">
        <h6>Filter by Team</h6>
        <p class="focus-area-filter" role="button" tabindex="0">All</p>
        <div class="focus-area-overlay">
          <img class="close-overlay" src="/assets/images/x-dark.png" alt="close filter">
          <div class="row">
            <ul class="col-xs-11 col-xs-offset-1 overlay-sub-menu" role="menu">
              <li class="filter-header">
                <h6>Filter by team</h6>
              </li>
              <li class="tab"><a href="#all" class="show-all active" role="menuitem" aria-controls="all" aria-selected="true">Full
                  Team</a></li>
              <li class="tab"><a href="#vi" class="show-vi" role="menuitem" aria-controls="vi" aria-selected="false">Venture
                  Investing</a></li>
              <li class="tab"><a href="#d10x" class="show-d10x" role="menuitem" aria-controls="d10x"
                  aria-selected="false">D10X</a></li>
              <li class="tab"><a href="#in" class="show-in" role="menuitem" aria-controls="in" aria-selected="false">Innovation
                  Network & <br>Emerging Technology</a></li>
              <li class="tab"><a href="#vs" class="show-vs" role="menuitem" aria-controls="vs" aria-selected="false">Studio</a>
              </li>
              <li class="tab"><a href="#operations" class="show-operations" role="menuitem" aria-controls="operations"
                  aria-selected="false">Finance, Operations & Strategy</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>