<section id="vi-divider" class="vDivider container-1280 fixedSpacing">
  <div class="container">
    <div class="row vDivider-content">
      <div class="col-xs-12 col-sm-10 col-md-5 col-md-offset-1 col-sm-offset-1 h100">
        <div class="in-middle">
          <p class="heading-4 bigger bottom0">{{entry.fields.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row vDivider-bg">
    <div class="col-md-12">
      <div class="img-gradient" style="width:100%">
        <img src="{{entry.fields.backgroundImg.fields.file.url}}" alt="" class="vi-divider hidden-xs">
        <img src="/assets/images/home/image-mission-mobile.jpg" alt="" class="vi-divider-mobile visible-xs">
      </div>
    </div>
  </div>
</section>