<main class="portfolio" id="content" role="main">
  <section class="hero-module generic portfolio container">
    <div class="row hero-content">
      <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
        <h1 class="gradient"><span>Portfolio</span></h1>
      </div>
    </div>
  </section>
</main>
<div class="container portfolio page-portfolio" *ngIf="partners">
  <div class="row">
    <nav-pills [pills]="pills" (pillClicked)="filterCategories($event)"></nav-pills>
    
    <div class="col-xs-12 col-sm-12 col-md-12 partners-stage" id="company-list">
      <div class="row" id="current-company-list">
          <div class="col-xs-6 col-sm-2 col-md-2 all-partners mce-partners" *ngFor="let partner of partners, let i = index"
              [class.hideElement]="!isSectionVisible(i)">
              <app-partner [entry]="partner"></app-partner>
          </div>
        </div>
    </div>    
  </div>
</div>