a {
    color: #0076D1;
    background: url(/assets/images/arrow-tip-default.svg) right 3px no-repeat;
    padding-right: 14px;
    text-transform: capitalize;
    font-size: inherit;
    font-weight: 900;
    font-family: Interstate_Bold,sans-serif,sans-serif;
  }