<div class="col-xs-12 col-sm-10 col-md-10 col-xs-offset-0 col-sm-offset-1">
  <div class="success-container">
    <div class="success-logo">
      <a href="{{entry.fields.link}}" target="_blank"><img src="{{entry.fields.logo.fields.file.url}}"
          alt=""></a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-xs-offset-0 col-sm-offset-1">
  <div class="success-container">
    <div class="success-quote">
      <div class="quote-bg">
        <p class="heading-3">{{entry.fields.quote}}</p>
        <p class="author">{{entry.fields.author}}</p>
        <p class="position">{{entry.fields.position}}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5">
  <p>{{entry.fields.history}}</p>
</div>