<div class="container member-container" *ngIf="bio">
  <cms-edit [entry]="bio"></cms-edit>
  <!--  PHOTO AND NAME -->
  <section id="member-photo-name">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
        <img class="team-member profile" src="{{bio.fields.headshot.fields.file.url}}" alt="{{bio.fields.name}}" />
      </div>
      <div class="col-xs-12 text-center top5">	
        <h3 class="colored">{{bio.fields.name}}</h3>
        <p class="position top20 hidden-xs">{{bio.fields.title}}</p>
        <p class="position top20 visible-xs">{{bio.fields.title}}</p>
      </div>
    </div>
  </section>
  
  <!--  SOCIAL MEDIA ICONS -->
  <section class="social-media bottom45 top25">
    <div class="row">
      <div class="col-xs-12 social-links">
        <a *ngFor="let social of bio.fields.socialNetworks" href="{{social.fields.url}}" target="_blank">
          <img class="icon" src="{{social.fields.icon.fields.file.url}}" alt="{{social.fields.icon.fields.title}}" />
        </a>         
      </div>
    </div>
  </section>
  
  <!--  PULLQUOTE -->
  <section id="member-pullquote">
    <div class="row quote">
      <div class="col-md-8 col-md-offset-2 quote-bg pad10">
        <p class="heading-3">{{bio.fields.quote}}</p>	
        <div class="row member-divider"></div>
      </div>
    </div>
  </section>

  <!--  BIO COPY -->
  <section id="bio-copy" class="member-bio">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 bottom60">
          <div [innerHTML]="htmlExpertise"></div>
      </div>
      <div class="col-md-8 col-md-offset-2 bottom60 bio">
          <div [innerHTML]="htmlBio"></div>
      </div>
    </div>
  </section>
</div> 