<div [class.col-md-4]="parentEntry.length == 3" [class.col-sm-4]="parentEntry.length == 3"
	[class.offset-big]="parentEntry.length == 3" [class.col-md-5]="parentEntry.length == 2"
	[class.col-sm-5]="parentEntry.length == 2" [class.inline]="parentEntry.length == 2"
	[class.col-xs-12]="parentEntry.length <= 3" [class.col-xs-6]="parentEntry.length >= 4"
	[class.col-md-2]="parentEntry.length >= 4" [class.col-sm-2]="parentEntry.length >= 4"
	[class.offset-small]="parentEntry.length >= 4" class="col-center">
	<div class="img-gradient circular img-container no-logo nolink">
		<img src="{{entry.fields.backgroundImg.fields.file.url}}" class="spotlight-bg" alt="">
		<div class="vContent in-middle">
			<p *ngIf="entry.fields.header" class="eyebrow asHeader lh30">{{entry.fields.header}}</p>
			<p>{{entry.fields.description}}</p>
		</div>
	</div>
</div>