.vPerspectives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.singlePerspective {
  width: 30%;
  margin-top: 20px; 
  padding: 0 30px;
}

@media (min-width: 768px) {
  .col-sm-offset-040 {
      margin-left: 4%;
      margin-bottom: 40px;
  }
  /*.row.vPerspectives > div:nth-child(3n+1) {
    margin-left: 8.33333333%;
  }*/
}