<main class="landing-perspectives page-perspectives" id="content" role="main" *ngIf="perspectives">

  <!--  HERO -->
  <!-- &.contact, &.perspectives, &.portfolio, &.team, &.whatwedo  -->
  <section class="hero-module generic perspectives container">
    <div class="row hero-content">
      <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
        <h1 class="gradient"><span>Perspectives</span></h1>
      </div>
    </div>
  </section>

  <!--  FEATURED -->
  <section>

  </section>

  <!--  HIGHLIGHTS  -->

  <!--  FILTER  -->

  <section id="perspectives-filter" class="fixedSpacingHalf">
    <div class="container">
      <nav-pills [pills]="pills" (pillClicked)="filterCategories($event)"></nav-pills>
    </div>
  </section>

  <!--  END FILTER  -->

  <section id="perspectives" class="container fixedSpacingHalf" [class.hideElement]='selectedCategory !== 0'>
      <div class="perspective-container bottom40 m-bottom0">
        <div class="row">
          <div id="featured-main" class="col-md-10 col-sm-8 col-md-offset-1 col-sm-offset-2">
            <div class="img-gradient img-container tt-leaf no-img double">
              <cms-edit [entry]="perspectives[0]"></cms-edit>
              <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
              <div class="tt-content">
                <h5 class="eyebrow">{{perspectives[0].fields.category.fields.title}}</h5>
                <p class="article-title"><a href="{{perspectives[0].fields.link}}"
                    target="_blank">{{perspectives[0].fields.title}}</a></p>
                <p class="article-meta">{{perspectives[0].fields.publication}}
                    <span *ngIf="perspectives[0].fields.author"> ● </span>
                    {{perspectives[0].fields.author}}</p>
                <p class="article-author">{{perspectives[0].fields.publishDate | date:'MMMM dd, yyyy'}}</p>
                <p class="article-copy hidden-sm hidden-xs" *ngIf="perspectives[0].fields.previewText">
                  {{perspectives[0].fields.previewText}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="perspective-container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-md-offset-1 col-sm-offset-2 mm-bottom40">
              <div class="img-gradient img-container tt-leaf no-img">
                <cms-edit [entry]="perspectives[1]"></cms-edit>
                <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
                <div class="tt-content">
                  <h5 class="eyebrow">{{perspectives[1].fields.category.fields.title}}</h5>
                  <p class="article-title"><a href="{{perspectives[1].fields.link}}"
                      target="_blank">{{perspectives[1].fields.title}}</a></p>
                  <p class="article-publisher">{{perspectives[1].fields.publication}}
                    <span *ngIf="perspectives[1].fields.author"> ● </span>
                    {{perspectives[1].fields.author}}
                  </p>
                  <p class="article-author">{{perspectives[1].fields.publishDate | date:'MMMM dd, yyyy'}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-8 col-md-offset-0 col-sm-offset-2 m-top40">
              <div class="img-gradient img-container tt-leaf no-img">
                <cms-edit [entry]="perspectives[2]"></cms-edit>
                <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
                <div class="tt-content">
                  <h5 class="eyebrow">{{perspectives[2].fields.category.fields.title}}</h5>
                  <p class="article-title"><a href="{{perspectives[2].fields.link}}"
                      target="_blank">{{perspectives[2].fields.title}}</a></p>
                  <p class="article-publisher">{{perspectives[2].fields.publication}}
                    <span *ngIf="perspectives[2].fields.author"> ● </span>
                    {{perspectives[2].fields.author}}
                  </p>
                  <p class="article-author">{{perspectives[2].fields.publishDate | date:'MMMM dd, yyyy'}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>

  <div class="container">
    <section id="perspectives-articles">
      <div id="perspectives-articles-main" class="fixedSpacingHalf">
        <div class="row vPerspectives top40">
          <!--Removed classes col-xs-12 col-sm-3 col-sm-offset-040-->
          <div class="singlePerspective" *ngFor="let perspective of perspectives; let i = index" [@fadeAnimation]="isSectionVisible(i)">
            <!--[class.hideElement]='perspectives[i].fields.category.fields.title !== pills[selectedCategory] && selectedCategory !== 0'>-->
            <div class="no-image article-card img-container" *ngIf="i > 2 || selectedCategory !== 0">
              <cms-edit [entry]="perspective"></cms-edit>
              <div class="vContent">
                <p class="eyebrow" [class.hideElement]='selectedCategory !== 0'>{{perspective.fields.category.fields.title}}</p>
                <p class="article-title">
                  <a href="{{perspective.fields.link}}" target="_blank" class="">{{perspective.fields.title}}</a>
                </p>
                <p class="article-publisher">{{perspective.fields.publication}}
                  <span *ngIf="perspective.fields.author"> ● </span>
                  {{perspective.fields.author}}
                </p>
                <p class="article-author">{{perspective.fields.publishDate | date:'MMMM dd, yyyy'}}</p>
                <p>
                  <a href="{{perspective.fields.link}}" target="_blank" class="cta chevron noGrow dark">Learn more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row top30 fixedSpacingHalf">
        <div class="col-xs-12 col-sm-12 text-center margin-lef">
          <a class="view more cta chevron noGrow dark lm" href="#ViewMore">View More</a>
        </div>
      </div>
    </section>
  </div>
</main>