<main class="landing-perspectives page-perspectives" id="content" role="main">

  <!--  HERO -->
  <!-- &.contact, &.perspectives, &.portfolio, &.team, &.whatwedo  -->
  <section class="hero-module generic perspectives container">
    <div class="row hero-content">
      <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
        <h1 class="gradient"><span>Perspectives</span></h1>
      </div>
    </div>
  </section>

  <!--  FEATURED -->
  <section>

  </section>

  <!--  HIGHLIGHTS  -->

  <!--  FILTER  -->

  <section id="perspectives-filter" class="fixedSpacingHalf">
    <div class="container">
      <div class="row hidden-xs bottom20" id="perspectives-filter-desk">


        <div class="col-sm-12">
          <ul class="nav nav-pills" role="tablist">

            <li id="tab1" role="tab" class="active tab" tabindex="0" aria-controls="all" aria-selected="true"
              data-filter="all"><span>All Perspectives</span>
              <div class="gradient-bar hidden-xs"></div>
            </li>

            <li id="tab2" role="tab" class="tab" tabindex="-1" aria-controls="News" aria-selected="false"
              data-filter="News"><span>News</span>
              <div class="gradient-bar hidden-xs"></div>
            </li>

            <li id="tab3" role="tab" class="tab" tabindex="-1" aria-controls="PR" aria-selected="false"
              data-filter="PR"><span>Press Releases</span>
              <div class="gradient-bar hidden-xs"></div>
            </li>

            <li id="tab4" role="tab" class="tab innovation" tabindex="-1" aria-controls="Video" aria-selected="false"
              data-filter="Video"><span>Videos</span>
              <div class="gradient-bar hidden-xs"></div>
            </li>

            <li id="tab5" role="tab" class="tab" tabindex="-1" aria-controls="Opinion" aria-selected="false"
              data-filter="Opinion"><span>Opinions</span>
              <div class="gradient-bar hidden-xs"></div>
            </li>

          </ul>
        </div>

      </div>
      <div class="row hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <hr class="green">
        </div>
      </div>

      <div id="perspectives-filter-mobile" class="visible-xs">
        <div class="row">
          <div class="col-xs-12 mobile-menu-filter">
            <h6>Filter by</h6>
            <p class="focus-area-filter" role="button" tabindex="0">All Perspectives</p>
            <div class="focus-area-overlay">
              <img class="close-overlay" src="/assets/images/x-dark.png" alt="close filter">
              <div class="row">
                <ul class="col-xs-11 col-xs-offset-1 overlay-sub-menu" role="menu">
                  <li class="filter-header">
                    <h6>Filter by</h6>
                  </li>
                  <li><a href="all" aria-controls="all" class="show-all active" role="menuitem">All Perspectives</a>
                  </li>
                  <li><a href="News" aria-controls="News" class="show-news" role="menuitem">News</a></li>
                  <li><a href="PR" aria-controls="PR" class="show-pr" role="menuitem">Press Releases</a></li>
                  <li><a href="Video" aria-controls="Video" class="show-videos" role="menuitem">Videos</a></li>
                  <li><a href="Opinion" aria-controls="Opinion" class="show-opinion" role="menuitem">Opinions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--  END FILTER  -->

  <section id="all" class="team-browse" name="all" role="tabpanel" aria-labelledby="tab1" aria-hidden="false"></section>
  <section id="News" class="team-browse" name="news" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
  </section>
  <section id="PR" class="team-browse" name="pr" role="tabpanel" aria-labelledby="tab3" aria-hidden="true"></section>
  <section id="Video" class="team-browse" name="video" role="tabpanel" aria-labelledby="tab4" aria-hidden="true">
  </section>
  <section id="Opinion" class="team-browse" name="opinion" role="tabpanel" aria-labelledby="tab5" aria-hidden="true">
  </section>

  <!-- <section id="perspectives" class="container fixedSpacingHalf">
    <div class="perspective-container bottom40 m-bottom0">
      <div class="row">
        <div id="featured-main" class="col-md-10 col-sm-8 col-md-offset-1 col-sm-offset-2">
          <div class="img-gradient img-container tt-leaf no-img double">
            <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
            <div class="tt-content">
              <h5 class="eyebrow">Video</h5>
              <p class="article-title"><a
                  href="https://cheddar.com/media/head-of-citi-ventures-talks-keeping-up-with-disruptions-on-wall-street"
                  target="_blank">Vanessa Colella Talks Innovation in Financial Services</a></p>
              <p class="article-meta">Cheddar </p>
              <p class="article-author">February 13, 2019</p>
              <p class="article-copy hidden-sm hidden-xs">Vanessa Colella, Citi's Chief Innovation Officer and Head of
                Citi Ventures, talks to Cheddar about our approach to innovation and how Citi is delivering solutions to
                drive value for clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="perspective-container">
      <div class="row">
        <div class="col-md-5 col-sm-8 col-md-offset-1 col-sm-offset-2 mm-bottom40">
          <div class="img-gradient img-container tt-leaf no-img">
            <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
            <div class="tt-content">
              <h5 class="eyebrow">News</h5>
              <p class="article-title"><a
                  href="http://fortune.com/2019/02/12/goldman-sachs-citi-second-measure-alternative-data/"
                  target="_blank">Goldman Sachs and Citi Make $20 Million Venture Bet That Private Equity Wants
                  Consumers’ Credit Card Info</a></p>
              <p class="article-meta">Fortune &#9679; Lucinda Shen</p>
              <p class="article-author">February 12, 2019</p>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-sm-8 col-md-offset-0 col-sm-offset-2 m-top40">
          <div class="img-gradient img-container tt-leaf no-img">
            <img src="/assets/images/home/blank-leaf.png" class="article-bg" alt="" role="presentation">
            <div class="tt-content">
              <h5 class="eyebrow">Opinion</h5>
              <p class="article-title"><a
                  href="https://www.linkedin.com/pulse/how-job-seekers-can-navigate-new-career-jungle-gym-vanessa-colella/"
                  target="_blank">How Job-seekers Can Navigate the New Career Jungle Gym</a></p>
              <p class="article-meta">LinkedIn &#9679; Vanessa Colella</p>
              <p class="article-author">January 15, 2019</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->


  <div class="container">

    <section id="perspectives-articles">

      <div id="perspectives-articles-main" class="fixedSpacingHalf">
        <div class="row vPerspectives top40">
          <div class="col-xs-12 col-sm-3 col-sm-offset-040" *ngFor="let perspective of perspectives">
            <div class="no-image article-card img-container">
              <div class="vContent">
                <p class="eyebrow">{{perspective.fields.category.fields.title}}</p>
                <p class="article-title">
                  <a href="{{perspective.fields.link}}" target="_blank" class="">{{perspective.fields.title}}</a>
                </p>
                <p class="article-publisher">{{perspective.fields.publication}}
                    <span *ngIf="perspective.fields.author"> ● </span>
                    {{perspective.fields.author}}
                </p>
                <p class="article-author">{{perspective.fields.publishDate}}</p>
                <p>
                  <a href="{{perspective.fields.link}}"
                    target="_blank" class="cta chevron noGrow dark">Learn more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row top30 fixedSpacingHalf">
        <div class="col-xs-12 col-sm-12 text-center margin-lef">
          <a class="view more cta chevron noGrow dark lm" href="#ViewMore">View More</a>
        </div>
      </div>

    </section>

  </div>


</main>