@media (min-width: 992px) {
    .perspective-container {
        margin-left: 0% !important;
    }
    .perspective-container .row > div:nth-child(1) {
        margin-left: 8.33333333%;
    }
    .perspective-container .row > div:nth-child(2) {
        margin-left: 0%;
    }
}
@media (min-width: 768px) {
    .perspective-container {
        margin-left: 8.33333333%;
    }
    .perspective-container .row > div:nth-child(1) {
        margin-left: 8.33333333%;
    }
    .perspective-container .row > div:nth-child(2) {
        margin-left: 0%;
    }
}