<div [class.col-md-12]="parentEntry.length == 1" [class.col-md-6]="parentEntry.length == 2"
  class="col-sm-10 perspective-container">
  <div [class.double]="parentEntry.length == 1" [class.no-img]="!entry.fields.backgroundImg"
    class="img-gradient img-container tt-leaf">
    <img *ngIf="!entry.fields.backgroundImg" src="/assets/images/home/blank-leaf.png" class="article-bg" alt=""
      role="presentation">
    <img *ngIf="entry.fields.backgroundImg" src="{{entry.fields.backgroundImg.fields.file.url}}" class="article-bg" alt=""
      role="presentation">
    <div class="tt-content">
      <h5 class="eyebrow">{{entry.fields.category.fields.title}}</h5>
      <p class="article-title">
        <a href="{{entry.fields.link}}" target="_blank" class="">{{entry.fields.title}}</a>
      </p>
      <p class="article-meta">{{entry.fields.publication}}
        <span *ngIf="entry.fields.author"> ● </span>
        {{entry.fields.author}}
      </p>
      <p class="article-author">{{entry.fields.publishDate | date:'MMMM dd, yyyy'}}</p>
      <p class="article-copy hidden-sm hidden-xs" *ngIf="entry.fields.previewText && parentEntry.length == 1">
        {{entry.fields.previewText}}</p>
    </div>
  </div>
</div>