@media (min-width: 768px) {
  .adjusted-3-col .col-sm-3 {
    width: 25%;
  }
  .ventures-row > div > div:first-of-type {
    margin-left: 8.33333333%;
  }
}

.ventures-row { 
  margin-bottom: 40px;

  &:last-of-type { 
    margin-bottom: 0px;
  }

  .spacing:last-of-type {
    margin-right: 0;
  }

  h4 {
    background: linear-gradient(to left,#0556A5,#057F52);
    background: -webkit-linear-gradient(to left,#0556A5,#057F52 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // a {
  //   color: #0076D1;
  //   background: url(/assets/images/arrow-tip-default.svg) right 3px no-repeat;
  //   padding-right: 14px;
  //   text-transform: capitalize;
  //   font-size: inherit;
  //   font-weight: 900;
  //   font-family: Interstate_Bold,sans-serif,sans-serif;
  // }
}

.perspective-container div:nth-child(1) {
  margin-left: 8.33333333%;
}
.perspective-container div:nth-child(2) {
  margin-left: 0%;
}

.row-center {
  text-align: center;
}
.col-center {
	display: inline-block;
	vertical-align: bottom;
}
// .col-center.inline {
// 	float: none;
// }

@media (min-width: 768px) {
	// .col-center.inline:nth-of-type(3n+1) {
	// 	margin-left: 6%;
	// }
	// .col-center.inline:nth-of-type(3n+0) {
	// 	margin-right: 6%;
	// }

	// .col-center.inline:last-of-type {
	// 	margin-right: 6%;
	// }
	.col-center.offset-big:nth-of-type(even) {
		padding-top: 110px;
	}
	.col-center.offset-small:nth-of-type(even) {
		padding-top: 54px;
	}
	.col-center.offset-small:first-of-type {
		margin-left: 8.33333333%;
	}
}
