<section id="approach" class="approach container fixedSpacing ventures-feature">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
      <h2 class="vline gradient">{{entry.fields.header}}</h2>
    </div>
  </div>
  <div class="row" *ngIf="entry.fields.description">
    <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 bottom20">
      <p>{{entry.fields.description}}</p>
    </div>
  </div>
  <div id="whatwedo-approach" class="vCarousel-container wwd">
    <!-- start here -->
    <!-- <app-feature-item [entry]="entry.fields"></app-feature-item>    -->
    <div class="row adjusted-3-col ventures-row" *ngFor="let row of entry.fields.rowData">
      <div *ngIf="row.fields.columnType == 'Fixed'">
        <div *ngFor="let item of row.fields.itemData">
          <!-- TODO: Use component selectors here instead of including all the HTML for each here individually between the *ngIf contentType check -->
          <!-- Copy Block -->
          <div *ngIf="item.sys.contentType.sys.id === 'featureItem'">
            <div class="col-xs-12 col-sm-3 spacing">
              <h4>{{item.fields.header}}</h4>
              <div [innerHTML]="item.fields.description | rtToHtml"></div>
            </div>
          </div>
          <!-- Innovative -->
          <div *ngIf="item.sys.contentType.sys.id === 'innovative'">
            <div class="col-xs-12 col-sm-10 col-md-10 col-xs-offset-0 col-sm-offset-1">
              <div class="success-container">
                <div class="success-logo">
                  <a href="{{item.fields.link}}" target="_blank"><img src="{{item.fields.logo.fields.file.url}}"
                      alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-xs-offset-0 col-sm-offset-1">
              <div class="success-container">
                <div class="success-quote">
                  <div class="quote-bg">
                    <p class="heading-3">{{item.fields.quote}}</p>
                    <p class="author">{{item.fields.author}}</p>
                    <p class="position">{{item.fields.position}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <p>{{item.fields.history}}</p>
            </div>
          </div>
          <!-- Perspective -->
          <div *ngIf="item.sys.contentType.sys.id === 'perspective'">
            <div [class.col-md-10]="row.fields.itemData.length == 1" [class.col-md-5]="row.fields.itemData.length == 2"
              class="col-sm-8 col-sm-offset-2">
              <div [class.double]="row.fields.itemData.length == 1" [class.no-img]="!item.fields.backgroundImg"
                class="img-gradient img-container tt-leaf">
                <img *ngIf="!item.fields.backgroundImg" src="/assets/images/home/blank-leaf.png" class="article-bg"
                  alt="" role="presentation">
                <img *ngIf="item.fields.backgroundImg" src="{{item.fields.backgroundImg.fields.file.url}}"
                  class="article-bg" alt="" role="presentation">
                <div class="tt-content">
                  <h5 class="eyebrow">{{item.fields.category.fields.title}}</h5>
                  <p class="article-title">
                    <a href="{{item.fields.link}}" target="_blank" class="">{{item.fields.title}}</a>
                  </p>
                  <p class="article-meta">{{item.fields.publication}}
                    <span *ngIf="item.fields.author"> ● </span>
                    {{item.fields.author}}
                  </p>
                  <p class="article-author">{{item.fields.publishDate | date:'MMMM dd, yyyy'}}</p>
                  <p class="article-copy hidden-sm hidden-xs"
                    *ngIf="item.fields.previewText && row.fields.itemData.length == 1">
                    {{item.fields.previewText}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Circular -->
          <div *ngIf="item.sys.contentType.sys.id === 'circular'">
            <div [class.col-md-4]="row.fields.itemData.length == 3"
              [class.col-sm-4]="row.fields.itemData.length == 3"
              [class.offset-big]="row.fields.itemData.length == 3"
              [class.col-md-5]="row.fields.itemData.length == 2"
              [class.col-sm-5]="row.fields.itemData.length == 2" [class.inline]="row.fields.itemData.length == 2"
              [class.col-xs-12]="row.fields.itemData.length <= 3"
              [class.col-xs-6]="row.fields.itemData.length >= 4"
              [class.col-md-2]="row.fields.itemData.length >= 4"
              [class.col-sm-2]="row.fields.itemData.length >= 4"
              [class.offset-small]="row.fields.itemData.length >= 4" class="col-center">
              <div class="img-gradient circular img-container no-logo nolink">
                <img src="{{item.fields.backgroundImg.fields.file.url}}" class="spotlight-bg" alt="">
                <div class="vContent in-middle">
                  <p *ngIf="item.fields.header" class="eyebrow asHeader lh30">{{item.fields.header}}</p>
                  <p>{{item.fields.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="row.fields.columnType == 'Flex'">
        <div *ngFor="let item of row.fields.itemData">
          <div *ngIf="item.sys.contentType.sys.id === 'featureItem'">
            <div [class.col-md-5]="row.fields.itemData.length == 2" [class.col-sm-5]="row.fields.itemData.length == 2"
              [class.col-sm-3]="row.fields.itemData.length == 3" class="col-xs-12 col-sm-10 spacing">
              <h4>{{item.fields.header}}</h4>
              <div [innerHTML]="item.fields.description | rtToHtml"></div>
              <p *ngIf="item.fields.linkUrl"><a href="{{item.fields.linkUrl}}" class="cta chevron noGrow dark lm"
                  target="_blank">{{item.fields.linkText}}</a></p>
            </div>
          </div>
        </div>

      </div>

      <div *ngFor="let item of row.fields.itemData">
        <div *ngIf="item.sys.contentType.sys.id === 'featureItem'">

        </div>
        <div *ngIf="item.sys.contentType.sys.id === 'innovative'">

        </div>
      </div>
    </div>

    <!-- end here -->
  </div>
  <div class="row ventures-row-footer" *ngIf="entry.fields.footer">
    <div [innerHTML]="entry.fields.footer | rtToHtml"
      class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 fixedSpacingHalf top40 m-topHalf">
    </div>
  </div>
</section>