<section id="approach" class="approach container fixedSpacing ventures-feature">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
      <h2 class="vline gradient">{{entry.fields.header}}</h2>
    </div>
  </div>
  <div class="row" *ngIf="entry.fields.description">
    <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 bottom20">
      <p>{{entry.fields.description}}</p>
    </div>
  </div>
  <div id="whatwedo-approach" class="vCarousel-container wwd">
    <div class="row adjusted-3-col ventures-row" *ngFor="let row of entry.fields.rowData">
      <div *ngIf="row.fields.columnType == 'Fixed'">
        <div class="col-xs-12 col-sm-3 spacing" *ngFor="let item of row.fields.itemData">
          <h4>{{item.fields.header}}</h4>
          <p [innerHTML]="item.fields.description | rtToHtml"></p>
        </div>
      </div>
      <div *ngIf="row.fields.columnType == 'Flex'">
        <div [class.col-md-5]="row.fields.itemData.length == 2" 
            [class.col-sm-5]="row.fields.itemData.length == 2"
            [class.col-sm-3]="row.fields.itemData.length == 3" 
            class="col-xs-12 col-sm-10 spacing"
          *ngFor="let item of row.fields.itemData">
          <h4>{{item.fields.header}}</h4>
          <p [innerHTML]="item.fields.description | rtToHtml"></p>
          <p *ngIf="item.fields.linkUrl"><a
              href="{{item.fields.linkUrl}}"
              class="cta chevron noGrow dark lm" target="_blank">{{item.fields.linkText}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row ventures-row-footer" *ngIf="entry.fields.footer">
    <div [innerHTML]="entry.fields.footer | rtToHtml"
      class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 fixedSpacingHalf top40 m-topHalf">
    </div>
  </div>
</section>