<div id="footer" class="" *ngIf="footer">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-xs-offset-0">
      <hr class="green">
    </div>
      <div class="col-sm-1 col-sm-offset-1 col-xs-offset-0 footer-container-logo">
        <a class="footer-icon" href="https://online.citibank.com/" target="_blank"><img src="{{footer.fields.logo.fields.file.url}}" alt="{{footer.fields.logo.fields.description}}"></a>
      </div>
      <div class="col-sm-9 footer-container-links">
        <ul class="footer-list">
          <li *ngFor="let link of footer.fields.navLinks" class="footer-privacy middle-list">
            <a href="{{link.fields.url}}" target="_blank">{{link.fields.linkText}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>