<div id="footer" class="">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-xs-offset-0">
      <hr class="green">
    </div>
      <div class="col-sm-1 col-sm-offset-1 col-xs-offset-0 footer-container-logo">
        <a class="footer-icon" href="https://online.citibank.com/" target="_blank"><img src="/assets/images/Citi-logo.svg" alt="Citi logo"></a>
      </div>
      <div class="col-sm-9 footer-container-links">
        <ul class="footer-list">
          <li class="footer-privacy middle-list"><a href="https://online.citibank.com/US/JRS/portal/template.do?ID=Privacy" target="_blank">Privacy Policy</a></li>
          <li class="footer-tc"><a href="https://online.citibank.com/US/JRS/portal/template.do?ID=TermsDisclaimer" target="_blank">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>